.main_grid{
    display:grid;
    grid-template-rows:  1fr 1fr 100px; 
    text-align: center;
    background-color: rgb(253, 253, 253);
}

.side_bar{
    background-color: chartreuse;
    position: fixed;
    top:65px;
    left: 0px;
    width: 50px;
    height: 120px;
}

.nav_bar{
    background-color:rgb(139, 12, 12);
    display:grid;
    grid-template-columns: 65px 1fr 65px 65px 65px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 65px;
}
.main_content{
    left: 80px;
    margin: 65px 30px 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(253, 253, 253);
    column-gap: 30px;
    row-gap: 30px;
}

.picture_block{
    left: 40px;
    margin: 30px 20px 20px 30px;
    object-fit: contain;
}

.upload_pic{
    width: 100%;
    border-radius: 10px;
}
.bottom_content{
    background-color:rgb(179, 82, 82);

}

@media (min-width: 501px) and (max-width: 750px) {
    .picture_block {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 500px){
    .picture_block{
        grid-template-columns: 1fr 1fr;
    }
}