body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;


}

#showcase{
    background-image: url('mainui.png');
    height: 100vh;
    background-size: cover;
    
}

.like_button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 42%;
    margin-left: 55%;
    border-radius: 50%;
    cursor:pointer;

}
.dislike_button{
    background-color: #b60c0c;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: -50%;
    margin-left: -18%;
    border-radius: 50%;
    cursor:pointer;

}
